<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EndY</key>
	<integer>9000</integer>
	<key>Stars</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Special</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>DoubleLineRight</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>70</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>140</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>210</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>280</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>60</integer>
					<key>y</key>
					<integer>350</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-20</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>40</integer>
					<key>y</key>
					<integer>420</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-40</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>20</integer>
					<key>y</key>
					<integer>490</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-60</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>560</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Diamond</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>80</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-100</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>160</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>-50</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>240</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>320</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>1000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>1500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>2500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>3000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>3500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Special</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<real>5250</real>
			</dict>
		</array>
	</dict>
	<key>Platforms</key>
	<dict>
		<key>Patterns</key>
		<dict>
			<key>Single</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>Single1</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>ThinBreak</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Triple</key>
			<array>
				<dict>
					<key>x</key>
					<integer>0</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>50</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>x</key>
					<integer>100</integer>
					<key>y</key>
					<integer>0</integer>
					<key>type</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>Positions</key>
		<array>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>-100</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>1000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>ThinBreak</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>2100</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>3000</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>3500</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>Single</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>4250</integer>
			</dict>
			<dict>
				<key>pattern</key>
				<string>ThinBreak</string>
				<key>x</key>
				<integer>512</integer>
				<key>y</key>
				<integer>4800</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
